body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
a:link {
  text-decoration: none;
  color:black;
}
a:visited{
  color:black;
}
a:hover {
  color: #007bff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 55px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.col {
  flex: 1;
  margin-top:20px;
  margin-left: 24px;
}
.card {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /*margin: 24px;*/
  margin: 23px;
  border: 2px solid black;
  transition: border-color 0.6s;
  animation: fadeInAnimation ease 2.0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.card:hover {
  border-color: #007bff;
}
.card-img-top {
  border-radius: 15px;
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover;
}
.box01:hover {
  box-shadow: 0 8px 8px 0 grey;
  border-radius: 15px;
  height: 215px;
  transform: translate(0, -10px);
  transition: all 0.4s;
  transform: scale(1.1)

}

.box01-bd {
  margin: 20px 0 0 220px;
  width: 700px;
  height: 220px;
  border-radius: 15px;
}
.card-body {
  padding: 15px;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
}
.card-text {
  font-size: 16px;
}
.card-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.card-link + .card-date {
  display: inline-block;
}
.card-date {
  margin-left: 55%;
}
#NavTop:hover {
  height: 251px;
}
.x01{
  width: 10000px;
  height: 100px;
}

