.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    padding-top: 55px;
}
.content {
    width: 880px;
}
h1 {
    flex: 1;
    margin-top: 40px;
    font-weight: 700;
    font-size: 38px;
    color: #4d4f53;
    letter-spacing: 1px;
    line-height: 54px;
}
h3 {
    font-size: 16px;
    color: #888;
    font-weight: 400;
}
.ShowTime {
    padding: 4px;
    margin-bottom: 60px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
p {
    margin-bottom: 18px;
    color: #4d4f53;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    text-indent: 36px;
}
.imgwrapper {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #4d4f53;
}
.NewsImages {
    max-width: 640px;
    display: block;
    margin: 0 auto;
}
.imgdescr {
    line-height: 20px;
    padding: 6px 0;
    font-size: 12px;
    margin: 5px auto;
    display: inline-block;
    display: -moz-inline-stack;
    zoom: 1;
    text-align: left;
    font-weight: 700;
    color: #4d4f53;
}
#NavTop:hover {
    height: 251px;
}