body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px;
  padding-top: 55px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  margin-top:20px;
  margin-left: 24px;
}
.card {
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 24px;
}
.card-img-top {
  border-radius: 15px;
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover;
}
.box01:hover {
  box-shadow: 0 8px 8px 0 grey;
  transform: translate(0, -10px);
  transform: scale(1.2)
}

.box01-bd {
  margin: 20px 0 0 300px;
  width: 700px;
}
.card-body {
  padding: 15px;
}
.card-title {
  font-size: 24px;
  font-weight: bold;
}
.card-text {
  font-size: 16px;
}
.card-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.card-link + .card-date {
  display: inline-block;
}
.card-date {
  margin-left: 55%;
}
#NavTop:hover {
  height: 251px;
}
.x01{
  width: 10000px;
  height: 100px;
}

